h1 {
    font-family: 'gamefont';
    font-size: 120%;
    background-color: #4A4A4A;
    position: absolute;
    left: 20%;
    bottom: 44%;
    padding: 1%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 25%;
    position: relative;
    margin-top: 22%;
    margin-left: 20%;
    background-color: #f9d877;
}

th {
    font-family: 'gamefont';
    text-align: left;

    display: flex;
    flex-direction: column;
    font-size: 200%;
    padding: 0% 5%;

}

td {
    text-align: left;
    font-size: 120%;
    padding: 5% 5%;
}

.sketchfab-embed-wrapper {
    position: absolute;
    left: 53%;
    top: 78%;
}

img {

    max-width: 25%;
    max-height: 25%;
    position: absolute;
    left: 53%;
    top: 52%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}