.sketchfab-embed-wrapper1 {
    position: absolute;
    left: 53%;
    top: 78%;
}

.sketchfab-embed-wrapper2 {
    position: absolute;
    left: 53%;
    top: 78%;
}

.sketchfab-embed-wrapper3 {
    position: absolute;
    left: 53%;
    top: 78%;
}

.sketchfab-embed-wrapper4 {
    position: absolute;
    left: 53%;
    top: 78%;
}


div.image1 img{
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    left: 53%;
    top: 52%;
}

div.image2 img{
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    left: 53%;
    top: 52%;
}

div.image3 img{
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    left: 53%;
    top: 52%;
}

div.image4 img{
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    left: 53%;
    top: 52%;
}

.column1{
    
    position: relative;
    margin-top: 25%;
    margin-left: 15%;
    width:30%;
    font-family: 'gamefont';
    font-size: 18px;
    background-color: #f9d877;
    padding: .5%;
    opacity: 0.6;
}

.column2{
    
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    width:30%;
    font-family: 'gamefont';
    font-size: 18px;
    background-color: #f9d877;
    padding:1%;
}

.column3{
    
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    width:30%;
    font-family: 'gamefont';
    font-size: 18px;
    background-color: #f9d877;
    padding:1%;
}

.column4{
    
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    width:30%;
    font-family: 'gamefont';
    font-size: 18px;
    background-color:#f9d877;
    padding:1%;
}

